@font-face {
    font-family: 'vigaregular';
    src: url('../font/viga-regular-webfont.woff2') format('woff2'),
         url('../font/viga-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    position: relative;
    overflow-x: hidden;
}

body{
    margin-bottom: 100px;
}

/* Navbar */

.navbar{
    z-index: 1;
    position: relative;
}

.navbar-brand{
    font-family: 'vigaregular';
    font-size: 32px !important;
}

.nav-link{
    margin: 0 15px;
}


/* Jumbotron */

.jumbotron{
    background-image: url(../img/jumbotron-bg.jpg);
    background-size: cover;
    height: 640px;
    text-align: center;
    background-position: center;
    position: relative;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

.jumbotron::after{
    content: '';
    width: 100%;
    height: 80%;
    display: block;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4{
    margin-top: 150px;
    font-weight: 200;
    filter: drop-shadow(5px 5px 4px black);
    font-size: 42px;
}

.jumbotron .display-4 span{
    font-weight: 500;
}

.info-panel{
    box-shadow: 0 3px 20px rgba(0, 0, 0, .5);
    margin-top: -100px !important;
    background-color: #fff;
    z-index: 1;
    position: relative;
    border-radius: 12px;
    padding: 30px !important;
}

.info-panel img{
    width: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
}

.info-panel p{
    font-size: 14px;
    color: #acacac;
}

/* Workingspace */
.row.workingspace{
    margin-top: 120px;
    text-align: center;
}


.workingspace h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span{
    font-weight: 500;
}

.workingspace p{
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 20px 0;
}

/* Testimonial */
.testimonial{
    margin-top: 100px;
    min-height: 500px;
}

.testimonial h5{
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    font-style: italic;

}

.figure{
    text-align: center;
    margin-bottom: 100px;
}

.figure img{
    width: 50px;
    margin: 40px 15px 10px;
    opacity: .6;
    align-items: center;
}

.figure img.utama{
    width: 80px;
    opacity: 1;
    margin-top: 25px;
}

.figure h5{
    font-size: 16px !important;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
}

.figure p{
    font-size: 12px;
    color: #acacac;
    margin-top: -5px;
}

/* footer */

footer{
    background-color: #0B63DC;
    width: 100%;
    height: 100px;
    bottom: 0;
    color: white;
    padding-top: 40px;
}











/* Utility */
.tombol{
    text-transform: uppercase;
    border-radius: 20px !important;
}





/* Dekstop Mode */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link{
        color: #fff !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link{
        text-transform: uppercase;
    }

    .nav-link:hover::after{
        content: "";
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron{
        height: 640px;
        background-repeat: no-repeat;
        margin-top: -75px;
    }

    .jumbotron .display-4{
        font-size: 64px;
    }

    .jumbotron .display-4{
        font-size: 64px;
    }

    .row.workingspace{
        text-align: left;
    }

    .testimonial h5{
        font-size: 32px;
    }

    .figure img{
        width: 60px;
    }

    .figure img.utama{
        width: 90px;
    }

 }
