@font-face {
    font-family: 'vigaregular';
    src: url('../font/viga-regular-webfont.woff2') format('woff2'),
         url('../font/viga-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar-brand{
    font-family: 'vigaregular';
}