@font-face {
    font-family: 'vigaregular';
    src: url('../font/viga-regular-webfont.woff2') format('woff2'),
         url('../font/viga-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.navbar-brand{
    font-family: 'vigaregular';
    font-size: 32px !important;
}

.nav-link{
    margin: 0 15px;
}

















/* Utility */
.tombol{
    text-transform: uppercase;
    border-radius: 20px !important;
}





/* Dekstop Mode */
@media (min-width: 992px) { 
    .nav-link{
        text-transform: uppercase;
    }

    .nav-link:hover::after{
        content: "";
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
 }